<html>
<head>
	<title>Admin page</title>
	<link rel="stylesheet" type="text/css" href="/static/opsiconfd.css">

	<script>
		function onLoad() {
				document.getElementById("json-result").style.visibility = 'hidden';
				document.getElementById("text-result").style.visibility = 'hidden';
			}
	
		function unblockAll(){
			console.log("unblock all");
			let request = new XMLHttpRequest();
			request.open("POST", "/admin/unblock-all");
			request.addEventListener('load', function (event) {
					if (request.status >= 200 && request.status < 300) {
						console.log(request);
						result = request.responseText
						result = JSON.parse(result);
						console.log(result);
						outputToHTML(result, "json-result");
						outputResult(result, "text-result");
						return result;
		
					} else {
						console.warn(request.statusText, request.responseText);
						return request.statusText;
					}
				});
			request.send();	
		}
	
		function unblockClient(){
			console.log(JSON.stringify({"client_addr": clientAddr.value}));
			
			console.log("unblock client " + clientAddr.value);
			let request = new XMLHttpRequest();
			request.open("POST", "/admin/unblock-client");
			request.addEventListener('load', function (event) {
					if (request.status >= 200 && request.status < 300) {
						result = request.responseText
						result = JSON.parse(result);
						console.log(result);
						outputToHTML(result, "json-result");
						outputResult(result, "text-result");
						return result;
					} else {
						console.warn(request.statusText, request.responseText);
						return request.statusText;
					}
				});
			body = {
				"client_addr": clientAddr.value
			}		
			if (ValidateIPaddress(clientAddr.value)) {
				request.send(JSON.stringify(body));
			}		
		}
	
		function deleteClientSessions(){	
			let request = new XMLHttpRequest();
			request.open("POST", "/admin/delete-client-sessions");
			request.addEventListener('load', function (event) {
					if (request.status >= 200 && request.status < 300) {
						result = request.responseText
						result = JSON.parse(result);
						console.log(result);
						outputToHTML(result, "json-result");
						outputResult(result, "text-result");
						return result;
					} else {
						console.warn(request.statusText, request.responseText);
						return request.statusText;
					}
				});
			body = {
				"client_addr": sessionAddr.value
			}
			if (ValidateIPaddress(sessionAddr.value)) {
				request.send(JSON.stringify(body));
			}		
					
		}
	
		function outputResult(json, id) {
			console.log("JSON: " + json);
			if (json["status"] == 200) {
				console.log("success");
				console.log(json.data.clients);
				data = json["data"]
				if (data["clients"] != undefined && data["clients"].length != 0){
					if (json["data"]["clients"].length == 1){
						text = data["clients"].length + " client unblocked.";
					}
					else {
						text = data["clients"].length + " clients unblocked.";
					}	
				}
				else if (data["sessions"] != undefined ){
					if(data["sessions"] != 0){
						text = "All sessions from client " +  data["client"] + " deleted.";
					}
					else {
						text = "No sessions on client found.";
					}
				}
				else if (data["client"] != undefined && data["client"].length != 0) {
					text = "client with address " + data["client"] + " unblocked.";
				}			
				else {
					text = "No blocked clients found.";
				}
			}
			else {
				text = "Error while unblocking clients.";
			}
			document.getElementById(id).style.visibility = 'visible';
			document.getElementById(id).innerHTML = text;
		}
	
		function outputToHTML(json, id) {
				jsonStr = JSON.stringify(json, undefined, 2);
				jsonStr = syntaxHighlight(jsonStr);
				document.getElementById(id).style.visibility = 'visible'
				document.getElementById(id).innerHTML = jsonStr;
			}
		
		// https://stackoverflow.com/questions/4810841/pretty-print-json-using-javascript
		function syntaxHighlight(json) {
			if (typeof json != 'string') {
				json = JSON.stringify(json, undefined, 2);
			}
			json = json.replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;');
			return json.replace(
				/("(\\u[a-zA-Z0-9]{4}|\\[^u]|[^\\"])*"(\s*:)?|\b(true|false|null)\b|-?\d+(?:\.\d*)?(?:[eE][+\-]?\d+)?)/g,
				function (match) {
					var cls = 'json_number';
					if (/^"/.test(match)) {
						if (/:$/.test(match)) {
							cls = 'json_key';
						} else {
							cls = 'json_string';
						}
					} else if (/true|false/.test(match)) {
						cls = 'json_boolean';
					} else if (/null/.test(match)) {
						cls = 'json_null';
					}
					return '<span class="' + cls + '">' + match + '</span>';
				});
		}
	
		function decode(html) {
			var txt = document.createElement('textarea');
			txt.innerHTML = html;
			return txt.value;
		}
		
		function ValidateIPaddress(ipaddress) 
			{
			if (/^(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)$/.test(ipaddress))
			{
				return (true)
			}
				alert("You have entered an invalid IP address!")
			return (false)
		}
	
	</script>
</head>
<body onload="onLoad();">
	<div class="content">
		<img id="interface-logo" src="/static/opsi_logo.png" alt="opsi logo">
		<div class="interface-container">

			<h2>Admin Interface</h2>

			<div class="adminpage-box">
				<h4>Unblock Clients:</h4>
				<table>
					<tr>
						<td align=left><label>Unblock all clients:</label></td>
						<td></td>
						<td><button id="unblock-all-button" onclick="unblockAll()">Execute</button>	</td>
					</tr>
					<tr>
						<td align=left>Unblock address:</td> 
						<td><input id="clientAddr" type="text" name="clientAddr" placeholder="127.0.0.1"></td>
						<td><input type="button" onclick="unblockClient()" value="Execute"></td>
					</tr>
					<tr>
						<td align=left>Delete client sessions:</td> 
						<td><input id="sessionAddr" type="text" name="sessionAddr" placeholder="127.0.0.1"></td>
						<td><input type="button" onclick="deleteClientSessions()" value="Execute"></td>
					</tr>
				</table>	
			</div>
			<div id="result">
				<p class="json-result" id="text-result"></p>
			</div>
			<div id="result">
				<pre class="json-result" id="json-result"></pre>
			</div>

			<div class="adminpage-box">
				<h4>RPCs:</h4>

				Number of RPCs since {{time}} (UTC): {{count}}
				<br><br>
				{% if rpc_list != [] %}
				<table class="rpc-table">
					<tr>
					{% for key in rpc_list[0].keys() %}
							<th class="rpc-th">{{key}}</th>			
					{% endfor %}
					</tr>
					{% for rpc in rpc_list %}
					<tr>
					{% if  rpc.get("error") %}
						<td class="rpc-error-td">{{rpc.get("rpc_num")}}</td>
						<td class="rpc-error-td">{{rpc.get("method")}}</td>
						<td class="rpc-error-td">{{rpc.get("params")}}</td>
						<td class="rpc-error-td">{{rpc.get("results")}}</td>
						<td class="rpc-error-td">{{rpc.get("error")}}</td>
						<td class="rpc-error-td">{{rpc.get("duration")}}</td>
					{% else %}
						<td class="rpc-td">{{rpc.get("rpc_num")}}</td>
						<td class="rpc-td">{{rpc.get("method")}}</td>
						<td class="rpc-td">{{rpc.get("params")}}</td>
						<td class="rpc-td">{{rpc.get("results")}}</td>
						<td class="rpc-td">{{rpc.get("error")}}</td>
						<td class="rpc-td">{{rpc.get("duration")}}</td>
					{% endif %}				
					</tr>
					{% endfor %}
				</table>
				{% endif %}
			</div>
		</div>
	</div>
</body>

</html>

