<!DOCTYPE html>
<html>

<head>
	<title>opsiconfd login</title>
	<link rel="stylesheet" type="text/css" href="/static/opsiconfd.css">
	<script src="/static/javascript/common.js"></script>
	<script>
		function onLoad() {
			document.getElementById('login_form').onsubmit = function (event) {
				event.preventDefault();

				let username = document.getElementById("login_username").value;
				let password = document.getElementById("login_password").value;
				let mfa_otp = null; //document.getElementById("login_mfa_otp").value;
				let redirect = "/admin";
				const params = new URLSearchParams(window.location.search)
				if (params.has('redirect')) {
					redirect = params.get('redirect')
				}
				if (window.location.hash) {
					redirect += window.location.hash;
				}
				login(username, password, mfa_otp, redirect);
			}
		}
	</script>
</head>

<body id="login" onload="onLoad()">
	<div class="login-form">
		<h1>opsiconfd login</h1>
		<form id="login_form" action="/login" method="post">
			<input id="login_username" type="text" placeholder="Username" autocomplete="username" autocorrect="off"
				required>
			<input id="login_password" type="password" placeholder="Password" autocomplete="current-password" required>
			<!--
			<input id="login_mfa_otp" type="text" placeholder="One time password" autocomplete="off">
			-->
			<button id="login_button" type="submit">Login</button>
		</form>
		<div id="login_error"></div>
	</div>
</body>

</html>