<!DOCTYPE html>
<html>

<head>
	<title>Login</title>
	<link rel="stylesheet" type="text/css" href="/static/opsiconfd.css">
	<script>
		window.addEventListener("keydown", function (event) {
			if (event.keyCode === 13) {
				document.getElementById("login_button").click();
			}
		});

		function login() {
			let username = document.getElementById("login_username").value;
			let password = document.getElementById("login_password").value;
			let button = document.getElementById("login_button");
			button.disabled = true;
			let ajax = new XMLHttpRequest();
			ajax.open("POST", "/session/login");
			ajax.setRequestHeader("Content-Type", "application/json");
			ajax.onreadystatechange = function () {
				if (ajax.readyState === 4) {
					button.disabled = false;
					let response = JSON.parse(ajax.responseText);
					if (ajax.status == 200) {
						location.href = "/admin" + window.location.hash;
					}
					else {
						console.error(response);
						document.getElementById("login_error").innerHTML = response.message;
					}
				}
			};
			ajax.send(
				JSON.stringify({ username: username, password: password })
			);
		}
	</script>
</head>

<body id="login">
	<div class="login-form">
		<h1>opsiconfd login</h1>
		<input id="login_username" type="text" placeholder="Username" required>
		<input id="login_password" type="password" placeholder="Password" required>
		<button id="login_button" type="submit" onclick="login();">Login</button>
		<div id="login_error"></div>
	</div>
</body>

</html>