<!DOCTYPE html>
<html>

<head>
	<meta charset='utf-8'>
	<meta http-equiv='X-UA-Compatible' content='IE=edge'>
	<title>Welcome</title>
	<link rel="stylesheet" type="text/css" href="/static/opsiconfd.css">
	<script src="/static/javascript/common.js"></script>
	<script src="/static/javascript/admininterface.js"></script>
	<script src="/static/javascript/welcome.js"></script>
</head>

<body>
	<div class="header">
		<img id="interface-logo" src="/static/opsi_logo.png" alt="opsi logo">
		<h1>Welcome to opsi</h1>

		<h2 style="float: right;">opsiconfd {{opsi_version}}</h2>
	</div>

	<div class="content">
		<br>

		<p>Here are some links to get you started:</p>

		<div class="adminpage-box" id="sessions">

			<ul>
				<li>
					<p>
						Now you can download the <a href="#" onclick="downloadConfiged()">opsi configed</a> and
						<a href="https://docs.opsi.org/opsi-docs-en/4.2/getting-started/adding-clients.html"
							target="_blank" rel="noopener noreferrer">
							create
							clients
						</a>.
					</p>
				</li>
				<li>
					<p>You can go to the
						<a href="/admin/#terminal" target="_blank" rel="noopener noreferrer">opsi admin terminal</a> and
						<a href="https://docs.opsi.org/opsi-docs-en/4.2/getting-started/server/minimal-products.html"
							target="_blank" rel="noopener noreferrer">
							install opsi products
						</a>.

					</p>
					<ul>
						<li>
							<code class="language-bash">
								opsi-package-updater -v install
							</code>
						</li>
					</ul>
				</li>
				<li>
					<p>
						The opsi-Community meets on the <a href="https://forum.opsi.org/index.php" target="_blank"
							rel="noopener noreferrer">opsi-forum</a> on opsi.org. There is also a wiki site you can
						visit.
					</p>
				</li>

				{% if ucs_server %}
				<li>
					<p>
						<a href="https://docs.opsi.org/opsi-docs-en/4.2/getting-started/server/base-installation.html#opsi-getting-started-installation-base-ucs"
							target="_blank" rel="noopener noreferrer">
							Here
						</a> you can find some information regarding opsi on UCS.
					</p>
					{% endif %}
				</li>
				<li>
					<p>
						Continue to the <a href="#" onclick="redirectToAdminPage()">opsiconfd admin interface</a>.
					</p>
				</li>
			</ul>

		</div>

		<h5><input type="checkbox" id="skip" name="skip" />Do not show this page again.</h5>

	</div>
</body>

</html>