<head>
	<meta charset='utf-8'>
	<meta http-equiv='X-UA-Compatible' content='IE=edge'>
	<title>Welcome</title>
	<link rel="stylesheet" type="text/css" href="/static/opsiconfd.css">
	<script src="/static/javascript/common.js"></script>
	<script src="/static/javascript/admininterface.js"></script>
	<script src="/static/javascript/welcome.js"></script>
</head>

<body>
	<div class="header">
		<div>
			<img id="interface-logo" src="/static/opsi_logo.png" alt="opsi logo">
		</div>
		<div style="overflow: hidden; display: flex; height: 100%;">
			<div style="display: inline-block; align-self: flex-end;">
				<h1>Welcome to opsi!</h1>
			</div>
		</div>
	</div>

	<div class="content">
		<br>

		<p>Here are some links to get you started:</p>

		<div class="adminpage-box" id="sessions">

			<ul>
				<li>
					<p>
						<a href="https://docs.opsi.org/opsi-docs-en/4.2/getting-started/getting-started.html"
							target="_blank" rel="noopener noreferrer">Here</a> you can find the opsi-Getting-Started
						manual</a>.
					</p>
				</li>
				<li>
					<p>
						Download the management interface <a href="#" onclick="downloadConfiged()">opsi-configed</a>.
						<br />
						Via the opsi-configed you can then configure your opsi system and
						<a href="https://docs.opsi.org/opsi-docs-en/4.2/getting-started/adding-clients.html"
							target="_blank" rel="noopener noreferrer">
							create the first clients
						</a>.
					</p>
				</li>
				<li>
					<p>You can use the
						<a href="/admin/#terminal" target="_blank" rel="noopener noreferrer">opsi admin terminal</a>
						to
						<a href="https://docs.opsi.org/opsi-docs-en/4.2/getting-started/server/minimal-products.html"
							target="_blank" rel="noopener noreferrer">
							install opsi products on your server
						</a>.

					</p>
				</li>
				<li>
					<p>
						The opsi-Community meets in the <a href="https://forum.opsi.org/index.php" target="_blank"
							rel="noopener noreferrer">opsi forum</a> on opsi.org. There you also find the link to the
						opsi wiki.
					</p>
				</li>

				{% if ucs_server %}
				<li>
					<p>
						<a href="https://docs.opsi.org/opsi-docs-en/4.2/getting-started/server/base-installation.html#opsi-getting-started-installation-base-ucs"
							target="_blank" rel="noopener noreferrer">
							Here
						</a> you can find some information regarding opsi on UCS.
					</p>
					{% endif %}
				</li>
				{% if webgui %}
				<li>
					<p>
						Open the web based management interface <a href="/addons/webgui" target="_blank"
							rel="noopener noreferrer">opsiweb</a>.
					</p>

				</li>
				{% endif %}
				<li>
					<p>
						Continue to the <a href="/admin">opsiconfd admin interface</a>.
					</p>
				</li>
			</ul>

		</div>
		{% if welcome_page %}
		<h5><input type="checkbox" id="skip" name="skip" onchange="if (this.checked) deactivateWelcomePage();" />Do
			not
			show this page again.</h5>
		{% endif %}
	</div>
</body>