/.venv
/build
/BUILD
/debian
/dist
/python-opsi
__pycache__
*.egg-info

.hypothesis
.coverage
coverage.xml
testreport.xml

# Visual Studio Code
.vscode/*
docker/opsiconfd-dev/.env

.~*

opsibackups/
opsi-utils/

sql/
changelogs/
tests/data/opsi-config/opsi.conf
