/.venv
/build
/BUILD
/debian
/dist
/.venv_state
__pycache__
*.egg-info

.hypothesis
.coverage
coverage.xml
testreport.xml

docker/opsiconfd-dev/.env

.~*

opsibackups/
opsi-utils/

sql/
changelogs/
tests/data/opsi-config/opsi.conf
