Source: opsiconfd
Section: opsi
Priority: optional
Maintainer: uib GmbH <info@uib.de>
Build-Depends: debhelper (>= 4.0.0)
Standards-Version: 3.6.1

Package: opsiconfd
Section: opsi
Architecture: all
Depends: python-opsi (>= 3.4), python-twisted, openssl
Description: OPSI configuration service
 This package contains the OPSI configuration service.
