Source: opsiconfd
Maintainer: uib GmbH <info@uib.de>
Homepage: http://www.opsi.org/
Section: opsi
Priority: optional
Standards-Version: 3.9.3
Build-Depends: python3, debhelper (>= 9), gettext

Package: opsiconfd
Architecture: all
Depends: ${misc:Depends}, coreutils, openssl
Recommends: mysql-server, redis (>= 5)
Description: opsi server daemon (opsiconfd)
 opsiconfd is part of the desktop management solution opsi
