[Unit]
Description=Opsi Configuration Service
Requires=opsigateway.service
Requires=opsiwebservice.service

[Service]
Type=oneshot
ExecStart=/bin/true
RemainAfterExit=True

[Install]
WantedBy=multi-user.target
