regexp --set=1:bootsrc --set=2:bootpath '^\(([^)]+)\)(.*)$' ${cmdpath}
regexp --set=1:bootproto '^([a-z]+)' ${bootsrc}
regexp --set=1:bootip '^[^,]+,([^,]+)' ${bootsrc}
regexp --set=1:basepath '^/*([^/]+)/.*' ${bootpath}
# Only use basepath from bootpath if it does not start with "opsi"
# to be compatible with existing setups where the bootfiles are in
# opsi/opsi-linux-bootimage/loader
if [ "${basepath}" != "opsi" ]; then
	regexp --set=1:basepath '^(.+)/loader.*' ${bootpath}
fi
set opsipath=($bootsrc)${basepath}

{% if config_states["netboot.grub.graphicsmode"] %}
set theme=(memdisk)/theme/theme.txt
set gfxmode=1280x720
set gfxpayload=keep
terminal_output gfxterm
background_image (memdisk)/theme/background.png
loadfont euro
{% endif %}

{% if config_states["netboot.grub.password"] %}
set superusers='admin'
password_pbkdf2 admin {{ config_states["netboot.grub.password"].password_hash("pbkdf2-sha512", "grub") }}
{% endif %}

set default=0
{% if product %}
set timeout=0
{{ product.grub_cfg() }}
{% else %}
set timeout={{ config_states["netboot.grub.timeout"] or "3" }}

if [ "$grub_platform" = "efi" ]; then
	for efi_file in \
		/efi/microsoft/boot/bootmgfw.efi \
		/efi/ubuntu/shimx64.efi \
		/efi/debian/shimx64.efi \
		/efi/opensuse/shim.efi \
		/efi/sles/shim.efi \
		/efi/redhat/shimx64.efi \
		/efi/almalinux/shimx64.efi \
		/efi/rocky/shimx64.efi \
		/efi/boot/ecosx64.efi \
		/efi/boot/bootx64.efi
	do
		echo "Searching ${efi_file}"
		search --no-floppy --file --set=efi_device $efi_file
		if [ -n "${efi_device}" ]; then
			echo "Found ${efi_file} on ${efi_device}"
			if [ "${efi_file}" == "/efi/boot/ecosx64.efi" ]; then
				# Why special handling for ecosx64.efi?
				echo "Found ecosx64.efi on ${efi_device}, exiting"
				exit
			fi
			break
		fi
	done

	if [ -n "${efi_device}" ]; then
		menuentry "Local Disk (${efi_device})" --class harddisk --unrestricted {
			set root="${efi_device}"
			if chainloader ${efi_file}; then
				if boot; then
					boot
				else
					exit
				fi
			else
				exit
			fi
		}
	else
		menuentry 'Local Disk (UEFI)' --class harddisk --unrestricted {
			terminal_output console
			exit
		}
	fi
else
	for bios_file in \
		/boot_me.marker \
		/Boot/BCD \
		/grub/grub.cfg \
		/boot/grub/grub.cfg \
		/boot/grub/i386-pc/igelfs.mod
	do
		echo "Searching ${bios_file}"
		# Prefer hd0, but search all devices
		# Be aware that the GRUB memdisk also contains a /boot/grub/grub.cfg
		search --no-floppy --hint hd0 --file --set=bios_partition $bios_file
		regexp --set=1:bios_device '^([^,]+)' ${bios_partition}
		if [ -n "${bios_device}" -a "${bios_device}" != "memdisk" ]; then
			echo "Found ${bios_file} on ${bios_partition}"
			break
		fi
	done

	if [ -n "${bios_device}" ]; then
		menuentry "Local Disk (${bios_device})" --class harddisk --unrestricted {
			set root="${bios_device}"
			chainloader +1
			if boot; then
				boot
			else
				exit
			fi
		}
	else
		menuentry 'Local Disk (BIOS)' --class harddisk --unrestricted {
			terminal_output console
			exit
		}
	fi
fi

{% for entry in grub.menu_entries("netboot.grub.additional_menu_entries") %}
{{ entry }}
{% endfor %}
{% endif %}
