[Unit]
Description=opsi server daemon
After=local-fs.target
After=network-online.target
After=redis-server.service
After=mysql.service
After=mariadb.service
Requires=remote-fs.target
Requires=local-fs.target
Wants=network-online.target

[Service]
ExecStart=/usr/bin/opsiconfd start --log-level-stderr=0
ExecReload=/usr/bin/opsiconfd reload --log-level-stderr=0
RestartSec=10
TimeoutStopSec=15

[Install]
WantedBy=multi-user.target
