[Unit]
Description=opsi server daemon
After=local-fs.target
After=network-online.target
After=redis-server.service
After=mysql.service
After=mariadb.service
After=univention-directory-listener.service
Requires=local-fs.target
Wants=network-online.target

[Service]
ExecStartPre=/usr/lib/opsiconfd/opsiconfd-pre-start
ExecStart=/usr/bin/opsiconfd start --log-level-stderr=0
ExecStop=/usr/bin/opsiconfd force-stop --log-level-stderr=0
ExecReload=/usr/bin/opsiconfd reload --log-level-stderr=0
RestartSec=1
TimeoutStopSec=10

[Install]
WantedBy=multi-user.target
