<html>
<head>
    <title>Interface</title>
    
</head>
<body>
<h1>Interface: </h1>

        <label>Methods:
          <select  id="method-select" onchange="get_method(this.value)">
            {% for method in interface %}
                <option>{{  method.get("name") }}</option>
            {% endfor %}
          </select>
        </label>
        <br><br>
        <div>
          <form>
            <div id="params">

            </div>
            
          </form>
          <button onclick="callJSONRPC()">execute</button>
        </div>

        <div id="result">
          <pre id=json-result>
          </pre>
        </div>
        
        <!-- <div id="demo">
          <h2>Let AJAX change this text</h2>
          <button type="button" onclick="loadDoc()">Change Content</button>
        </div> -->

        

</body>
</html>




<script>


var decode = function (html) {
	var txt = document.createElement('textarea');
	txt.innerHTML = html;
	return txt.value;
};

let interface =  decode("{{interfaceJSON}}");


interface = JSON.parse(interface);


function get_method(value){
    console.log("get_method: " + value);
    console.log( "{{testVar}}" );

    let html = "";
    interface.forEach(method => {
      if (method.name == value){
        console.log(method.name);
        console.log(method.params)
        method.params.forEach(param => {
          console.log(param);
          html = html+"<label for=\"fname\">"+param+": </label>\n<input type=\"text\" id=\""+param+"\" name=\""+param+"\"><br><br>";
       
        });
       
      }
    });
    document.getElementById("params").innerHTML = html;
   

    
  
}

function callJSONRPC(){


  let apiJSON = {
    "id": 1,
    "method": "",
    "params": [
      [],
      {}
    ]
  } 
  
  
  let option = document.getElementById("method-select");
  let method = option.options[option.selectedIndex].text; 
  let inputs = document.getElementsByTagName("input");



  apiJSON.params = [ ["TEST"], {"id": 123}];
  apiJSON.method = method;
  console.log(apiJSON);
 
  

  var params = [];
 
  console.log(params);
  
  for (i = 0; i < inputs.length; i++) {
    let name = inputs[i].name.trim();
    let value = inputs[i].value.trim();
    console.log("VALUE: " + value);
    console.log("NAME:" + name);

    if(value){
      params.push(value.length == 0);
    }
    else{
      console.log("SUBSTR: " + name.substr(0, 1));
      
      if (name.substr(0, 1) != "*"){
        alert("mandatory field empty");
        return {"error": "mandatory field empty"};
        
      }
    }

  }

  console.log(params);
  apiJSON.params = params;
  console.log(apiJSON);

 

  console.log(window.location.protocol);
  console.log(window.location.host);
  console.log(window.location.hostname);
  console.log(window.location.port);
  let request = new XMLHttpRequest();
  request.open("POST","https://localhost:4447/rpc");

  console.log(request);
  
  request.addEventListener('load', function(event) {
    if (request.status >= 200 && request.status < 300) {
        result = request.responseText
        console.log(result);
        document.getElementById("json-result").textContent = JSON.stringify(JSON.parse(result), undefined, 2);
        return result;
        
    } else {
        console.warn(request.statusText, request.responseText);
    }
  });
  console.log(apiJSON);
  
  request.send(JSON.stringify(apiJSON));


  
  // request = new XMLHttpRequest();
  // request.open("POST","/interface/jsonrpc");

  // console.log(request);
   
  // request.addEventListener('load', function(event) {
  //   if (request.status >= 200 && request.status < 300) {
  //       console.log(request.responseText);
  //   } else {
  //       console.warn(request.statusText, request.responseText);
  //   }
  // });
  // request.send(JSON.stringify(apiJSON));

}


function loadDoc() {

  document.getElementById("demo").innerHTML = "<h1>TEST</h1>";
 
}



</script>
