html {
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	font-family: Arial, Helvetica, sans-serif;
}

body {
	width: 100%;
	margin: 0px;
	padding: 0px;
	background-color: #eeeeee;
	color: #3a3a3a;
}

p {
	font-size: 15px;
}

#logo,
#interface-logo {
	width: 120px;
	display: inline-block;
}

a:link,
a:visited,
a:active {
	color: #0068aa;
	text-decoration: none;
}

a:hover {
	color: #02456e;
	text-decoration: none;
}

input {
	border: 1px solid #cccccc;
}

button {
	appearance: none;
	border: 1px solid #cccccc;
	padding-bottom: 2px;
}

button:hover {
	background-color: #dddddd;
}

button:active {
	background-color: #eeeeee !important;
}

li {
	list-style-type: none;
}

div#welcome ul li,
div#tab-links ul li {
	list-style-type: disc;
}

.header {
	width: 90%;
	height: 100px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	margin-bottom: 10px;
}

h1 {
	margin-left: 25px;
	font-size: 16px;
	color: #0068aa;
}

h2 {
	margin-left: 25px;
	font-size: 14px;
	color: #0068aa;
}

.content {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}

#link-list {
	width: 250px;
	margin: 50px auto 0px auto;
	font-size: 20px;
}

#jsonrpc-method-doc {
	margin: 0px 0px 0px 20px;
	font-size: 13px;
}

.jsonrpc-deprecated-method {
	color: #dc322b;
}

#jsonrpc-request-table>tr>td {
	padding-right: 5px;
}

#jsonrpc-request-table>tr>td>input,
select {
	width: 500px;
}

.jsonrpc-request,
.jsonrpc-result,
.json-result,
.redis-result,
.adminpage-box {
	outline: 1px solid #ccc;
	padding: 5px;
	margin: 15px 0px 15px 0px;
	overflow: auto;
}

#jsonrpc-request-error {
	font-size: 14px;
	color: #dc322b;
	margin: 5px 0px 0px 5px;
}

.rpc-table {
	table-layout: auto;
	background-color: #eeeeee;
}

.rpc-th {
	font-size: 12px;
	border: 1px #0068aa solid;
	text-align: left;
	padding: 2px 10px 2px 10px;
	color: #eeeeee;
	background-color: #0068aa;
}

.rpc-td {
	font-size: 12px;
	border: 1px #0068aa solid;
	text-align: left;
	padding: 2px 10px 2px 10px;
	color: #000000
}

.rpc-error-td {
	font-size: 12px;
	border: 1px #0068aa solid;
	text-align: left;
	padding: 2px 10px 2px 10px;
	color: #dc322b
}

.rpc-deprecated-td {
	font-size: 12px;
	border: 1px #0068aa solid;
	text-align: left;
	padding: 2px 10px 2px 10px;
	color: darkorange;
}

.session-table,
.user-table,
.host-table,
.locked-products-table {
	table-layout: auto;
	background-color: #eeeeee;
}

.session-th,
.user-th,
.host-th,
.locked-products-th {
	font-size: 12px;
	border: 1px #0068aa solid;
	text-align: left;
	padding: 2px 10px 2px 10px;
	color: #eeeeee;
	background-color: #0068aa;
}

.session-td,
.user-td,
.host-td,
.locked-products-td {
	font-size: 12px;
	border: 1px #0068aa solid;
	text-align: left;
	padding: 2px 10px 2px 10px;
	color: #000000;
	word-wrap: break-word;
	overflow-wrap: break-word;
}

.mfa-active {
	color: #40853d;
}

.mfa-inactive-warn {
	color: #ce714d;
}

.user-connected,
.host-connected {
	color: #40853d;
}

.addon-table {
	table-layout: auto;
	background-color: #eeeeee;
}

.addon-th {
	font-size: 12px;
	border: 1px #0068aa solid;
	text-align: left;
	padding: 2px 10px 2px 10px;
	color: #eeeeee;
	background-color: #0068aa;
}

.addon-td {
	font-size: 12px;
	border: 1px #0068aa solid;
	text-align: left;
	padding: 2px 10px 2px 10px;
	color: #000000;
}

/* Style the tab */
.tab {
	overflow: hidden;
	border: 1px solid #cccccc;
	background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tablink {
	color: #000000;
	float: left;
	font-size: 0.8em;
	padding: 14px 16px;
	transition: 0.3s;
}

.tablink:link {
	color: #000000;
}

.tablink:visited {
	color: #000000;
}

.tablink:hover {
	background-color: #dddddd;
}

.tablink:active,
.tablink.active {
	background-color: #dddddd;
}

/* Style the tab content */
.tabcontent {
	display: none;
	padding-bottom: 25px;
}

.fitheight {
	height: calc(100vh - 280px);
}

.maximize {
	position: fixed;
	top: 0;
	left: 0;
	width: calc(100vw - 10px);
	height: calc(100vh - 60px);
	padding-left: 10px;
	background-color: #f1f1f1;
}

.json_string {
	color: green;
}

.json_number {
	color: darkorange;
}

.json_boolean {
	color: blue;
}

.json_null {
	color: magenta;
}

.json_key {
	color: red;
}

/* Log viewer */
.LEVEL_SECRET {
	color: #6e5a00;
}

.LEVEL_TRACE {
	color: #8b8f8a;
}

.LEVEL_DEBUG {
	color: #d0d7cf;
}

.LEVEL_INFO {
	color: #eeeeec;
}

.LEVEL_NOTICE {
	color: #8ae234;
}

.LEVEL_WARNING {
	color: #f6b925;
}

.LEVEL_ERROR {
	color: #c90000;
}

.LEVEL_CRITICAL {
	color: #ff0000;
}

.LEVEL_ESSENTIAL {
	color: #34e2e2;
}

#log-level-filter {
	max-width: 60px;
}

#log-settings {
	display: flex;
	margin: 15px 0px 0px 0px;
}

.log-setting {
	margin: 0px 25px 0px 0px;
}

#log-container {
	width: 100%;
	height: 100%;
	margin-top: 10px;
	overflow: scroll;
	/*line-height: 0.9;*/
	background-color: black;
	color: white;
}

#log-msg-container {
	position: absolute;
	width: 400px;
	height: 50px;
	top: 50%;
	left: calc(50% - 200px);
	font-size: 24px;
	font-weight: bold;
	background-color: #000000aa;
	display: flex;
	align-items: center;
	text-align: center;
	justify-content: center;
	visibility: hidden;
}

.log-line {
	display: inline-table;
	white-space: nowrap;
	clear: both;
	float: left;
	font-family: monospace;
	height: 1.2em;
}

.log-line-hidden {
	display: none;
}

.log-record {
	display: flow-root;
	white-space: pre;
}

.log-record-control {
	display: inline-flex;
	float: left;
	width: 5em;
	user-select: none;
	overflow: hidden;
	max-height: 1.0em;
}

.log-record-collapse {
	display: inline-block;
	margin-top: -0.2em;
	padding-left: 5px;
	width: 1em;
}

.log-line-multiline>*>.log-record-collapse::after {
	content: "⯆";
}

.log-line-multiline-collapsed>*>.log-record-collapse::after {
	content: "⯈";
}

.log-record-line-id {
	display: inline-block;
	width: 3em;
	text-align: right;
	color: #666666;
}

.log-line-multiline-collapsed>*>.log-record-message {
	display: inline-flex;
	height: 1.1em;
	overflow: hidden;
}

#terminal-xterm {
	width: 100%;
	height: 100%;
	margin-top: 10px;
}

#terminal-upload {
	padding: 5px 0px 25px 0px;
}

#terminal-file-upload {
	display: none;
}

.terminal-file-upload {
	cursor: pointer;
}


#terminal-control {
	font-size: 0.9em;
}

.upload-active {
	animation-name: upload-bg-color;
	animation-duration: 1s;
	animation-iteration-count: infinite;
}

@keyframes upload-bg-color {
	0% {
		background-color: #00000000;
	}

	50% {
		background-color: #68693f33;
	}

	100% {
		background-color: #00000000;
	}
}

table tbody tr td {
	font-size: 15px;
}

button,
input[type=button] {
	margin-top: 10px;
	margin-bottom: 10px;
	border: solid 1px #333333;
	background-color: #dddddd;
}

button:hover,
input[type=button]:hover {
	background-color: #cccccc;
}

button:active,
input[type=button]:active {
	background-color: #dddddd;
}

button.loading,
input.loading {
	background-image: linear-gradient(to right, transparent 50%, rgba(0, 0, 0, 0.3) 50%);
	background-size: 200% 100%;
	animation: loading 1s cubic-bezier(0.4, 0, 0.2, 1) infinite;
	opacity: .45;
	pointer-events: none;
}


@keyframes loading {
	0% {
		background-position: 0;
	}

	50% {
		background-position: -30%;
	}

	80% {
		background-position: -100%;
	}

	100% {
		background-position: -200%;
	}
}

@media screen and (max-width: 1350px) {
	.tab {
		height: 90px;
	}
}

@media screen and (max-width: 1050px) {
	.tab {
		overflow: auto;
		height: 90px;
	}
}

table#licensing-info-table {
	table-layout: auto;
	border-spacing: 0px;
	border-collapse: collapse;
}

table#licensing-info-table td {
	font-size: 15px;
	border: 1px #333 solid;
	text-align: left;
	padding: 2px 10px 2px 10px;
	color: #333;
	background-color: #fff;
}

td.licensing-info-key {
	font-weight: bold;
}

.lic-state-valid {
	color: #3a3a3a;
}

.lic-state-replaced_by_non_core {
	color: #bd1e1e;
}

.lic-state-expired {
	color: #bd1e1e;
}

.lic-state-not_yet_valid {
	color: #bd781e;
}

.lic-state-revoked {
	color: #c24747;
}

.lic-state-invalid_signature {
	color: #bd1e1e;
}

table#licensing-dates-table {
	table-layout: auto;
	border-spacing: 0px;
	border-collapse: collapse;
}

div#licensing-info,
div#license-upload {
	padding-top: 25px;
	padding-bottom: 25px;
}

table#licensing-dates-table td,
table#licensing-dates-table th {
	font-size: 15px;
	border: 1px #333 solid;
	text-align: left;
	padding: 2px 10px 2px 10px;
	color: #333;
	background-color: #fff;
}

table#licensing-dates-table tr:hover td {
	background: #eee;
}

table#licensing-dates-table td.licensed {
	color: #40853d;
}

table#licensing-dates-table td.close_to_limit {
	color: #bd781e;
}

table#licensing-dates-table td.over_limit {
	color: #bd1e1e;
}

table#licensing-dates-table td.free {
	color: #3d8582;
}

table#licensing-dates-table td.changed {
	font-weight: bold;
}

table#licensing-dates-table th.active,
table#licensing-dates-table td.active {
	background-color: #f5ffec;
}


div#notifications {
	position: fixed;
	top: 10px;
	left: 10px;
	margin-left: auto;
	margin-right: auto;
	z-index: 100;
}

span.close-notification {
	text-align: right;
	float: right;
	cursor: pointer;
	font-weight: 900;
	font-size: 1.2em;
}

span.close-notification:after {
	content: "\00d7";
}

div#notifications p {
	display: flex;
	margin-right: 25px;
	white-space: pre-wrap;
}

div#notifications div {
	padding: 5px 20px 5px 20px;
	margin-bottom: 15px;
	background-color: white;
	border: 1px solid #cccccc;
}

div#notifications div.error {
	background-color: #bd1e1e;
	color: white;
}

div#notifications div.warning {
	background-color: #ce714d;
	color: white;
}

div#notifications div.success {
	background-color: #40853d;
	color: white;
}


.closebtn {
	margin-left: 15px;
	color: white;
	font-weight: bold;
	float: right;
	font-size: 22px;
	line-height: 20px;
	cursor: pointer;
	transition: 0.3s;
}

.closebtn:hover {
	color: black;
}

body.login {
	height: 100%;
	width: 100%;
}

div.login-form {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
	width: 350px;
	border: 1px solid #ccc;
	padding: 35px;
	background-color: #fff;
}

div.login-form h1 {
	margin-left: 0;

}

div.login-form input {
	font-size: 16px;
	display: block;
	width: 340px;
	margin-top: 15px;
	padding: 5px 5px;
	border: 1px solid #c2c0ca;
	outline: none;
}

div.login-form button {
	font-size: 16px;
	margin-top: 25px;
	padding: 5px;
	width: 350px;
}

div#login_error {
	margin-top: 25px;
	color: #ff0800;
}


#messagebus-container {
	grid-auto-columns: minmax(40%, 1fr);
	grid-auto-flow: column;
	display: grid;
	column-gap: 25px;
	row-gap: 5px;
	overflow: hidden"

}

#messagebus-message-send,
#messagebus-message-out,
#messagebus-message-in {
	width: 100%;
	margin: 5px 0px 5px 0px;
	background-color: #1e1e1e;
	color: white;
	font-weight: 500;
	overflow: auto;
}

#messagebus-message-out,
#messagebus-message-in {
	height: 500px;
}

#messagebus-message-send {
	height: 300px;
}

.message_string {
	color: #ce714d;
}

.message_number {
	color: #90d16d;
}

.message_boolean {
	color: #3fddbe;
}

.message_null {
	color: #a03232;
}

.message_key {
	color: #4ebdf8;
}


.rpc-cache-table {
	table-layout: auto;
	background-color: #eeeeee;
}

.rpc-cache-th {
	font-size: 12px;
	border: 1px #0068aa solid;
	text-align: left;
	padding: 2px 10px 2px 10px;
	color: #eeeeee;
	background-color: #0068aa;
}

.rpc-cache-td {
	font-size: 12px;
	border: 1px #0068aa solid;
	text-align: left;
	padding: 2px 10px 2px 10px;
	color: #000000
}