[Unit]
Description=Opsi Configuration Service
After=mysql.service
After=smbd.service
Requires=smbd.service
Wants=isc-dhcp-server.service
Wants=mysql.service

[Service]
User=opsiconfd
Type=forking
ExecStart=/usr/bin/opsiconfd -D
PIDFile=/var/run/opsiconfd/opsiconfd.pid
Restart=always
RestartSec=10
KillMode=process
TimeoutStopSec=10

# Fix for maybe not existing /var/run or wrong permissions
# PermissionsStartOnly makes the switch to the opsiconfd user just
# before executing the ExecStart-part.
PermissionsStartOnly=True
ExecStartPre=-/bin/mkdir /var/run/opsiconfd
ExecStartPre=-/bin/chown -R opsiconfd /var/run/opsiconfd/

[Install]
WantedBy=multi-user.target
